		<img class="backgroundImage" src="assets/images/bg.jpg">
		<div class="mainWrapper">

        <!-- Page Content -->
            <div class="container">
                <div class="row  marginMain">
                    <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12">

						<div class="well">

						<h1><center>Newsy</center></h1>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia venenatis est, at fringilla tellus fermentum quis. Nulla non metus in dui egestas mollis a nec diam. Fusce ac tincidunt nunc, posuere lobortis sapien. Aliquam diam lacus, egestas nec maximus a, finibus eu augue. Duis egestas, nunc id aliquet vulputate, nunc ipsum elementum justo, non cursus urna lectus eget lacus. Praesent dictum ultricies tellus. Aliquam sit amet semper orci. Etiam eu erat eu libero consectetur porttitor nec sed nibh. Suspendisse porttitor sodales massa, vel fermentum tellus. Suspendisse et lorem non nisi auctor viverra sit amet nec ligula.

						Duis mollis ultrices velit ut ullamcorper. Cras velit mi, dapibus a velit sit amet, lobortis varius est. Praesent ornare consequat tincidunt. Nunc condimentum at augue vitae porta. Morbi sodales vulputate orci eu bibendum. Maecenas eleifend suscipit neque, et facilisis ex. In suscipit, leo non tristique tristique, tellus ex vestibulum diam, sed posuere arcu nibh cursus nisi. In semper nisl in purus gravida, elementum sodales quam blandit.
						</p>

						</div>

						<div class="well">
						<h1><center>E-Polska</center></h1>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia venenatis est, at fringilla tellus fermentum quis. Nulla non metus in dui egestas mollis a nec diam. Fusce ac tincidunt nunc, posuere lobortis sapien. Aliquam diam lacus, egestas nec maximus a, finibus eu augue. Duis egestas, nunc id aliquet vulputate, nunc ipsum elementum justo, non cursus urna lectus eget lacus. Praesent dictum ultricies tellus. Aliquam sit amet semper orci. Etiam eu erat eu libero consectetur porttitor nec sed nibh. Suspendisse porttitor sodales massa, vel fermentum tellus. Suspendisse et lorem non nisi auctor viverra sit amet nec ligula.

						Duis mollis ultrices velit ut ullamcorper. Cras velit mi, dapibus a velit sit amet, lobortis varius est. Praesent ornare consequat tincidunt. Nunc condimentum at augue vitae porta. Morbi sodales vulputate orci eu bibendum. Maecenas eleifend suscipit neque, et facilisis ex. In suscipit, leo non tristique tristique, tellus ex vestibulum diam, sed posuere arcu nibh cursus nisi. In semper nisl in purus gravida, elementum sodales quam blandit.
						</p>
						</div>
                    </div>
                    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
						<div class="well">

							<div [hidden]="!forgetStep1">

								<div [hidden]="!forgetStep2">

									<h1><center>Ustaw nowe Hasło</center></h1>

									<epl-successPopup [error]="loginFormSuccess" [show]="loginFormSuccessShow"></epl-successPopup>
			            <epl-errorPopup [error]="loginFormErr" [show]="loginFormErrShow"></epl-errorPopup>


									<form  class="form-horizontal" (ngSubmit)="changePassword()">
									  <fieldset>
										<div class="form-group">
										  <label for="inputRemindPassword" class="col-lg-2 control-label">Hasło</label>
										  <div class="col-lg-10">
											<input type="password" class="form-control" [(ngModel)]="remindMeForm.password" name="remindMePassword" id="inputRemindPassword" placeholder="Nowe hasło" required>
										  </div>
										</div>
										<div class="form-group">
										  <label for="inputRemindPasswordConfirm" class="col-lg-2 control-label">Powtórz hasło</label>
										  <div class="col-lg-10">
											<input type="password" class="form-control" [(ngModel)]="remindMeForm.passwordConfirm" name="remindMePassword" id="inputRemindPasswordConfirm" placeholder="Powtórz hasło" required>
										  </div>
										</div>

										<div class="form-group">
										  <div class="col-lg-10 col-lg-offset-2">
											<button type="submit" class="btn btn-primary">Zmień hasło</button>
											<button (click)="backToLogin($event)" class="btn btn-warning">Wróć do logowania</button>
										  </div>
										</div>
									  </fieldset>
									</form>
								</div>


								<div  [hidden]="forgetStep2">


									<form class="form-horizontal" (ngSubmit)="remindMe()">
									  <fieldset>
										<div class="form-group">
										  <label for="inputRemindEmail" class="col-lg-2 control-label">Email</label>
										  <div class="col-lg-10">
											<input type="email" class="form-control" [(ngModel)]="remindMeForm.email" name="remindMeEmail" id="inputRemindEmail" placeholder="Adres email" required>
										  </div>
										</div>

										<div class="form-group">
										  <div class="col-lg-10 col-lg-offset-2">
											<button type="submit" class="btn btn-primary">Przypomnij</button>
											<button (click)="backToLogin($event)" class="btn btn-warning">Wróć do logowania</button>
										  </div>
										</div>
									  </fieldset>
									</form>
								</div>
							</div>


						<div [hidden]="forgetStep1">
							<h1><center>Logowanie</center></h1>

							<epl-successPopup [error]="loginFormSuccess" [show]="loginFormSuccessShow"></epl-successPopup>
	            <epl-errorPopup [error]="loginFormErr" [show]="loginFormErrShow"></epl-errorPopup>


							<div [hidden]="!isLoged">
								<button [routerLink]="['/game/life']" class="btn btn-success btn-lg btn-block">Zagraj</button>

								<button (click)="logout()" class="btn btn-danger btn-lg btn-block">Wyloguj</button>

							</div>


							<form [hidden]="isLoged" class="form-horizontal" (ngSubmit)="loginSubmit()">
							  <fieldset>
								<div class="form-group">
								  <label for="inputLogin" class="col-lg-2 control-label">Użytkownik</label>
								  <div class="col-lg-10">
									<input type="text" class="form-control" [(ngModel)]="loginForm.login" name="login" id="inputLogin" placeholder="Nazwa użytkownika" required>
								  </div>
								</div>
								<div class="form-group">
								  <label for="inputPassword" class="col-lg-2 control-label">Hasło</label>
								  <div class="col-lg-10">
									<input type="password" class="form-control" [(ngModel)]="loginForm.password" name="password" id="inputPassword" placeholder="Hasło" required>
									<div class="checkbox">
									  <label>
										<input type="checkbox"  [(ngModel)]="loginForm.rememberme" name="rememberme"> Zapamiętaj
									  </label>
									</div>
								  </div>
								</div>


								<div class="form-group">
								  <div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-primary">Zaloguj</button>
									<button (click)="forgetPassword($event)" class="btn btn-warning">Zapomniałem hasła :(</button>
								  </div>
								</div>
							  </fieldset>
							</form>
						</div>
						</div>

						<div class="well">
						<h1><center>Rejestracja</center></h1>

						<epl-successPopup [error]="registerFormSuccess" [show]="registerFormSuccessShow"></epl-successPopup>
            <epl-errorPopup [error]="registerFormErr" [show]="registerFormErrShow"></epl-errorPopup>

						<form class="form-horizontal" (ngSubmit)="registerSubmit()">
						  <fieldset>
							<div class="form-group">
							  <label for="inputLogin" class="col-lg-2 control-label">Użytkownik</label>
							  <div class="col-lg-10">
								<input type="text" class="form-control" [(ngModel)]="registerForm.login" name="login" id="inputLogin" placeholder="Nazwa użytkownika" required>
							  </div>
							</div>
							<div class="form-group">
							  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
							  <div class="col-lg-10">
								<input type="email" class="form-control" [(ngModel)]="registerForm.email" name="login" id="inputEmail" placeholder="Adres email" required>
							  </div>
							</div>
							<div class="form-group">
							  <label for="inputPassword" class="col-lg-2 control-label">Hasło</label>
							  <div class="col-lg-10">
								<input type="password" class="form-control" [(ngModel)]="registerForm.password" name="password" id="inputPassword" placeholder="Hasło" required>
							  </div>
							</div>
							<div class="form-group">
							  <label for="inputPassword2" class="col-lg-2 control-label">Powtórz hasło</label>
							  <div class="col-lg-10">
								<input type="password" class="form-control" [(ngModel)]="registerForm.password2" name="password2" id="inputPassword2" placeholder="Powtórz hasło" required>
								<div class="checkbox">
								  <label>
									<input type="checkbox" [(ngModel)]="registerForm.rules" name="rules"> Akceptuję zasady i regulamin
								  </label>
								</div>
							  </div>
							</div>

							<div class="form-group">
							  <div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary">Zarejestruj</button>
							  </div>
							</div>
						  </fieldset>
						</form>




						</div>
                    </div>
                </div>


            </div>
		</div>
