<div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">Rozgłośnia Skrót</h3>
  </div>
  <div class="panel-body">


  <div *ngFor="let message of messages" class="chatList">
    <b>{{message.user.username}} - {{message.messageDate  | timeStr}}</b>
    <br>
    {{message.message}}

  </div>



  <form class="form-inline" role="form" style="margin-top:15px;" (ngSubmit)="sendMessage()">
    <div class="form-group col-lg-10">
      <input type="text" [(ngModel)]="message" name="message" class="form-control customForm" id="exampleInputEmail2" placeholder="Napisz coś" pattern=".{2,}"   required title="2 znaki minimum">
    </div>
    <div class="form-group col-lg-2">
    <button type="submit" class="btn btn-default btn-block">Wyślij</button>
    </div>

  </form>



  </div>
</div>
