<div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">Powiadomienia</h3>
  </div>
  <div class="panel-body perfectScrollEl" id="notifyScroll" style="max-height:250px;"  scrollBottom>
      <div class="alert alert-info" *ngFor="let notice of notify">
        <span *ngIf="notice.type === 'job'">Praca [{{notice.position}}]: zarobiłeś {{notice.earned | number }} <i class="fa fa-money" aria-hidden="true"></i></span>
      </div>

  </div>
</div>
