<div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">Życie skrót</h3>
  </div>
  <div class="panel-body">
  <table class="table" *ngIf="shortData">
    <tr>
      <td>Hajs</td>
      <td>{{shortData.money | number}} <i class="fa fa-money" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Punkty Pracy</td>
      <td>
        {{shortData.workPts}} / {{shortData.workPtsMax}} <i class="fa fa-industry" aria-hidden="true"></i>
        <span [hidden]="shortData.workTimeLeft <= 0">( {{shortData.workTimeLeft | secToStr}} )</span>
      </td>
    </tr>
    <tr>
      <td>Punkty Akcji</td>
      <td>{{shortData.actionPts}} / {{shortData.actionPtsMax}} <i class="fa fa-gavel" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <td>Energia</td>
      <td>
        {{shortData.energyPts}} / {{shortData.energyPtsMax}} <i class="fa fa-bolt" aria-hidden="true"></i>
        <span [hidden]="shortData.energyTimeLeft <= 0">( {{shortData.energyTimeLeft | secToStr}} )</span>
      </td>
    </tr>
    <tr>
      <td>Zdrowie</td>
      <td>{{shortData.healthyPts}} / {{shortData.healthyPtsMax}} <i class="fa fa-heartbeat" aria-hidden="true"></i></td>
    </tr>
  </table>

  </div>
</div>
