
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        IE-Polska
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/game/life']"  routerLinkActive="menuLinkActive">Życie</a>
                </li>
                <li>
                    <a href="#">Rozgłośnia</a>
                </li>
                <li>
                    <a [routerLink]="['/game/work']"  routerLinkActive="menuLinkActive">Praca</a>
                </li>
                <li>
                    <a href="#">Sejm</a>
                </li>
                <li>
                    <a href="#">Partia</a>
                </li>
                <li>
                    <a href="#">Walki</a>
                </li>
                <li>
                    <a href="#">Ustawienia</a>
                </li>
                <li>
                    <a [routerLink]="['/']">Wyloguj</a>
                </li>
            </ul>
        </div>



        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">

                      <epl-miniChat></epl-miniChat>

                    </div>
                    <div class="col-lg-3">
                      <epl-short></epl-short>
                    </div>
                    <div class="col-lg-3">
                      <epl-currentTask></epl-currentTask>
                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-12">

                    <epl-error></epl-error>




                    </div>
                </div>

                <router-outlet></router-outlet>







            </div>
        </div>


    </div>
