<div class="row">
    <div class="col-lg-12">
        <h1>Praca</h1>

        <div class="col-lg-5">


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Zarobki</h3>
            </div>
            <div class="panel-body">


              <ul class="nav nav-tabs">
                <li class="active"><a href="#week" data-toggle="tab" aria-expanded="false">Tydzień</a></li>
                <li><a href="#month" data-toggle="tab" aria-expanded="true">Miesiąc</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="week">
                  <base-chart class="chart"
                              [datasets]="weekChartData"
                              [labels]="weekChartLabels"
                              [options]="chartOptions"
                              [colors]="chartColours"
                              [legend]="chartLegend"
                              [chartType]="chartType">
                  </base-chart>
                </div>
                <div class="tab-pane fade" id="month">
                  <base-chart class="chart"
                              [datasets]="monthChartData"
                              [labels]="monthChartLabels"
                              [options]="chartOptions"
                              [colors]="chartColours"
                              [legend]="chartLegend"
                              [chartType]="chartType">
                  </base-chart>


                </div>
              </div>








            </div>
          </div>


          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Obecne zatrudnienie</h3>
            </div>
            <div class="panel-body">
              <button (click)="goToWork()" class="btn btn-primary btn-lg">Pracuj</button>
            </div>
          </div>


        </div>
        <div class="col-lg-7">
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Oferty Pracy</h3>
              </div>
              <div class="panel-body">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#state" data-toggle="tab" aria-expanded="false">Państwowe</a></li>
                  <li><a href="#private" data-toggle="tab" aria-expanded="true">Prywatne</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="state">

                    <div id="stateJobOffers" class="list-group perfectScrollEl" style="margin-top:5px; height:200px;">
                      <a href="#" class="list-group-item active">Państwowe gospodarstwo rolne</a>
                      <a href="#" class="list-group-item">Stocznia Gdańska</a>
                      <a href="#" class="list-group-item">Kopalnia</a>

                      <a href="#" class="list-group-item">---------------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>
                      <a href="#" class="list-group-item">------+--------</a>

                    </div>

                  </div>
                  <div class="tab-pane fade" id="private">
                  Prywatne
                  </div>
                </div>


              </div>
            </div>
          </div>





          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Wybrana oferta</h3>
              </div>
              <div class="panel-body">
                <span><b>Oferta Pracy:</b></span><br>
                Państwowe gospodarstwo rolne<br>
                <span><b>Stanowisko:</b></span><br>
                Zwykły pracownik<br>
                <span><b>Wymagania:</b></span><br>
                Brak<br>
                <span><b>Pensja:</b></span><br>
                1 280 <i aria-hidden="true" class="fa fa-money"></i><br>
                <span><b>Dniówka:</b></span><br>
                100 punktów pracy<br>

                <button class="btn btn-success btn-lg btn-block">Przyjmij pracę</button>


              </div>
            </div>
          </div>







        </div>


    </div>
</div>
